<!-- shop.component.html -->
<!-- Start Hero Section -->
<div class="hero">
    <div class="container">
        <div class="row">
            <div class="col-lg-5">
                <div class="intro-excerpt">
                    <h2>Furniture</h2>
                </div>
            </div>
            <div class="col-lg-7 d-flex justify-content-end search">
                <div class="filter-section input-group">
                    <input type="text" class="form-control" placeholder="Search Product" [(ngModel)]="filterText">
                    <button class="btn" (click)="onSearch()">
                        <i class="bi bi-search" style="color: #3b5d50;"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Hero Section -->

<!-- Category Filter Dropdown -->

<app-product-section [filterText]="search"></app-product-section>